In [77]:
import numpy as np
import pandas as pd
#грузим все данные, что собрали и сливаем
df1 = pd.read_csv("../data/parsed0407.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})
df2 = pd.read_csv("../data/parsed.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})
df3 = pd.read_csv("../data/mergedcleared2306.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})
df4 = pd.read_csv("../data/nln1.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})
df5 = pd.read_csv("../data/firstset.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})
df6 = pd.read_csv("../data/Codes10.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})
df7 = pd.read_csv("../data/Codes20.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})
df = pd.concat([df1, df2, df3, df4, df5, df6, df7])

In [46]:
df

                id                                              label
0       9507100000  УДОЧКИ РЫБОЛОВНЫЕ, РАЗБОРНЫЕ, СОСТОЯЩИЕ ИЗ ОТД...
1       9507100000  УДОЧКИ РЫБОЛОВНЫЕ, РАЗБОРНЫЕ, СОСТОЯЩИЕ ИЗ ОТД...
2       9507100000  УДОЧКИ РЫБОЛОВНЫЕ ШТЕКЕРНЫЕ КАРБОНОВЫЕ ДЛИНА У...
3       9507100000  УДОЧКИ РЫБОЛОВНЫЕ-СОСТАВНЫЕ, СОСТОЯЩИЕ ИЗ ОТДЕ...
4       9507100000  УДОЧКИ РЫБОЛОВНЫЕ-ТЕЛЕСКОПИЧЕСКИЕ(ВЫДВИЖНЫЕ) ,...
...            ...                                                ...
261742  1207409000  семена кунжута sesamum indicum очищенные готов...
261743  1207409000  кунжут семена кунжута очищенные не дробленные ...
261744  1207409000                                    семена кунжута
261745  1207409000          семена кунжута дробленые или недробленые
261746  1207409000  семена кунжута очищенные в мешках для пищевой ...

[290083 rows x 2 columns]

In [47]:
df[df['id'].str.len()<10]

Empty DataFrame
Columns: [id, label]
Index: []

In [48]:
#чистим от пунктуации, приводим к нижнему регистру, сжимаем пробелы
df['label'] = df['label'].str.lower()
df['label'] = df['label'].str.strip()
df['label'] = df['label'].str.replace(r'\s+', ' ')
df['label'] = df['label'].str.replace(r'[^\w\s]+', ' ')

/tmp/ipykernel_4153/1248913975.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['label'] = df['label'].str.replace(r'\s+', ' ')
/tmp/ipykernel_4153/1248913975.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['label'] = df['label'].str.replace(r'[^\w\s]+', ' ')

In [49]:
#убираем некоторые теткстовые патерны, не несущие полезную инфу
df['label'] = df['label'].str.replace(r'\bупакован.+', '')
df['label'] = df['label'].str.replace(r'\bвсего.+шт.+', '')

/tmp/ipykernel_4153/446349523.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['label'] = df['label'].str.replace(r'\bупакован.+', '')
/tmp/ipykernel_4153/446349523.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['label'] = df['label'].str.replace(r'\bвсего.+шт.+', '')

In [24]:
#df['label'] = df['label'].str.replace(r'\bкороб.+', '')
#от удаления коробок отказался, т.к. есть товары с таким наименованием

C:\Users\yeril\AppData\Local\Temp\ipykernel_14968\3021488021.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['label'] = df['label'].str.replace(r'\bкороб.+', '')

In [50]:
#дополнительно сжимаем пробелы
df['label'] = df['label'].str.replace('  ', ' ')

In [51]:
len(df[df['label']==''])

0

In [52]:
df[df['label'] == '']

Empty DataFrame
Columns: [id, label]
Index: []

In [53]:
df[df.isnull().values==True]

Empty DataFrame
Columns: [id, label]
Index: []

In [54]:
df = df[df['label'].isnull()==False]

In [55]:
df.drop(df[df['label'] == ''].index, inplace = True)

In [56]:
len(df['id'].unique())

2648

In [57]:
len(df['label'].unique())

232988

In [58]:
len(df)

290083

In [59]:
df = df.drop_duplicates()
len(df)

233001

In [98]:
counts = df.value_counts('id')
df_count = pd.DataFrame(data={'id': counts.index, 'count': counts.values})
df_count.to_csv('../../../tnveds_sort.csv', sep=';', columns=['id', 'count'], index=False, header=False)

In [96]:
df_count[df_count['count'] < 20]

              id  count
2382  8462900097     19
2383  9405110022     19
2384  9405290012     18
2385  8714961000     18
2386  8531908500     18
...          ...    ...
2660  8537209100      1
2661  9013802000      1
2662  8524190027      1
2663  8541401001      1
2664  8519891900      1

[283 rows x 2 columns]

In [60]:
#ищем одинаковые лэйблы с разными метками
counts = df.value_counts('label')
df_count = pd.DataFrame(data={'id': counts.index, 'count': counts.values})
sum(df_count[df_count['count'] > 1]['count']) #получаем список лэйблов с разными айди и выводим его размер

25

In [61]:
df = df[~df['label'].isin(df_count[df_count['count'] > 1]['id'])] #удаляем точки датасета с лэйблами, которые имеют разные коды. Тильда - отрицание isin

In [62]:
df #готовый смёрдженый датасет

                id                                              label
0       9507100000  удочки рыболовные разборные состоящие из отдел...
1       9507100000  удочки рыболовные разборные состоящие из отдел...
2       9507100000  удочки рыболовные штекерные карбоновые длина у...
3       9507100000  удочки рыболовные составные состоящие из отдел...
4       9507100000  удочки рыболовные телескопические выдвижные  с...
...            ...                                                ...
253660  9405190029           электрическое осветительное оборудование
253802  9403990009                  части мебели из прочих материалов
253855  9403910000                          части мебели из древесины
253933  9401910009                           части мебели для сидения
255473  8477809100               оборудование для обработки пластмасс

[232976 rows x 2 columns]

In [63]:
df.to_csv('../data/mergedcleared1307.csv', sep=';', columns=['id', 'label'], index=False, header=False)

In [42]:
import numpy as np
import pandas as pd
df = pd.read_csv("../data/parsed1307.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})
df2 = pd.read_csv("../data/mergedcleared0407.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})

In [43]:
df = pd.concat([df, df2])

In [44]:
len(df)

290083

In [45]:
len(df2)

261747

In [40]:
del df2