In [77]:
import numpy as np
import pandas as pd
#грузим все данные, что собрали и сливаем
df1 = pd.read_csv("../data/parsed0407.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})
df2 = pd.read_csv("../data/parsed.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})
df3 = pd.read_csv("../data/mergedcleared2306.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})
df4 = pd.read_csv("../data/nln1.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})
df5 = pd.read_csv("../data/firstset.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})
df6 = pd.read_csv("../data/Codes10.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})
df7 = pd.read_csv("../data/Codes20.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})
df = pd.concat([df1, df2, df3, df4, df5, df6, df7])

In [89]:
df

               id                                              label
0      8425310000  лебедка с приводом от электрического двигателя...
1      8425310000  лебедки для пассаж элект лифта мод kone minisp...
2      8425310000  лебедки с приводом от электрического двигателя...
3      8425310000  части лифтового оборудования для сервисного об...
4      8425310000  лебедки для пассаж элект лифта мод kone monosp...
...           ...                                                ...
21691  1207409000  семена кунжута очищенные недробленые не содерж...
21692  1207409000  масличные культуры семена кунжута для применен...
21693  1207409000                                    семена кунжута
21694  1207409000          семена кунжута дробленые или недробленые
21695  1207409000  семена кунжута очищенные в мешках для пищевой ...

[341163 rows x 2 columns]

In [81]:
df[df['id'].str.len()<10]

Empty DataFrame
Columns: [id, label]
Index: []

In [80]:
#чистим от пунктуации, приводим к нижнему регистру, сжимаем пробелы
df['label'] = df['label'].str.lower()
df['label'] = df['label'].str.strip()
df['label'] = df['label'].str.replace(r'\s+', ' ')
df['label'] = df['label'].str.replace(r'[^\w\s]+', ' ')

C:\Users\yeril\AppData\Local\Temp\ipykernel_10924\970123699.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['label'] = df['label'].str.replace(r'\s+', ' ')
C:\Users\yeril\AppData\Local\Temp\ipykernel_10924\970123699.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['label'] = df['label'].str.replace(r'[^\w\s]+', ' ')

In [82]:
#убираем некоторые теткстовые патерны, не несущие полезную инфу
df['label'] = df['label'].str.replace(r'\bупакован.+', '')
df['label'] = df['label'].str.replace(r'\bвсего.+шт.+', '')

C:\Users\yeril\AppData\Local\Temp\ipykernel_10924\3948572542.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['label'] = df['label'].str.replace(r'\bупакован.+', '')
C:\Users\yeril\AppData\Local\Temp\ipykernel_10924\3948572542.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['label'] = df['label'].str.replace(r'\bвсего.+шт.+', '')

In [24]:
#df['label'] = df['label'].str.replace(r'\bкороб.+', '')
#от удаления коробок отказался, т.к. есть товары с таким наименованием

C:\Users\yeril\AppData\Local\Temp\ipykernel_14968\3021488021.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['label'] = df['label'].str.replace(r'\bкороб.+', '')

In [84]:
#дополнительно сжимаем пробелы
df['label'] = df['label'].str.replace('  ', ' ')

In [85]:
len(df[df['label']==''])

0

In [86]:
df[df['label'] == '']

Empty DataFrame
Columns: [id, label]
Index: []

In [87]:
df[df.isnull().values==True]

               id label
69050  8505191000   NaN
74729  7010906700   NaN
5437   8505191000   NaN
16292  7010906700   NaN

In [88]:
df = df[df['label'].isnull()==False]

In [90]:
df.drop(df[df['label'] == ''].index, inplace = True)

C:\Users\yeril\AppData\Local\Temp\ipykernel_10924\3569540116.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df[df['label'] == ''].index, inplace = True)

In [91]:
len(df['id'].unique())

2665

In [92]:
len(df['label'].unique())

262596

In [93]:
len(df)

341163

In [94]:
df = df.drop_duplicates()
len(df)

263895

In [98]:
counts = df.value_counts('id')
df_count = pd.DataFrame(data={'id': counts.index, 'count': counts.values})
df_count.to_csv('../../../tnveds_sort.csv', sep=';', columns=['id', 'count'], index=False, header=False)

In [96]:
df_count[df_count['count'] < 20]

              id  count
2382  8462900097     19
2383  9405110022     19
2384  9405290012     18
2385  8714961000     18
2386  8531908500     18
...          ...    ...
2660  8537209100      1
2661  9013802000      1
2662  8524190027      1
2663  8541401001      1
2664  8519891900      1

[283 rows x 2 columns]

In [102]:
#ищем одинаковые лэйблы с разными метками
counts = df.value_counts('label')
df_count = pd.DataFrame(data={'id': counts.index, 'count': counts.values})
sum(df_count[df_count['count'] > 1]['count']) #получаем список лэйблов с разными айди и выводим его размер

2148

In [108]:
df = df[~df['label'].isin(df_count[df_count['count'] > 1]['id'])] #удаляем точки датасета с лэйблами, которые имеют разные коды. Тильда - отрицание isin

In [54]:
df #готовый смёрдженый датасет

               id                                              label
0      8425310000  лебедка с приводом от электрического двигателя...
1      8425310000  лебедки для пассаж элект лифта мод kone minisp...
2      8425310000  лебедки с приводом от электрического двигателя...
3      8425310000  части лифтового оборудования для сервисного об...
4      8425310000  лебедки для пассаж элект лифта мод kone monosp...
...           ...                                                ...
97912  0802310000  орехи грецкие в скорлупе грецкий орех 1мешок 1...
97914  0802310000  орехи грецкие в скорлупе расфасованные в карто...
97915  0802310000  орехи грецкие в скорлупе сырые калибр 32 мм ур...
97917  0802310000  орехи грецкие в скорлупе для употребления в пи...
97918  0802310000  товары перемещаемые в качестве проб и образцов...

[208250 rows x 2 columns]

In [111]:
df.to_csv('../data/mergedcleared0407.csv', sep=';', columns=['id', 'label'], index=False, header=False)