In [2]:
import pandas as pd
df = pd.read_csv("../cleareddata1606.csv")
df.drop(['Unnamed: 0', 'id2', 'g_id'], axis=1, inplace=True)
df['id'] = pd.Series(df['id']).astype(str)
ids = []
for id in df['id']:
    if len(id) == 10:
        ids.append(str(id)[:4])
    else:
        ids.append('0' + str(id)[:3])
df['g_id'] = ids

dscr = pd.read_csv("desc.csv", sep=';', names=['id', 'label'])
ids = pd.Series(dscr['id'])
ids = ids.astype(str)
dscr['id'] = ids
ids = []
for i, id in enumerate(dscr['id']):
    if len(id) == 4:
        ids.append(str(id))
    else:
        ids.append('0' + str(id))
dscr['id'] = ids

In [5]:
withlabels = list(dscr['id'])
justids = list(df['g_id'].unique())
for each in justids:
    if each not in withlabels:
        #print(each, len(df[df['id']==each]))
        print(list(df[df['g_id']==each]['id']))

['1062003001', '1062003001']
['1018059078', '1018007197', '1018059067', '1018059078']
['1012036453', '1012036543', '1012036453', '1012036465', '1012036431']
['1068022711']
['391729']
['5022006800', '5022046200', '5022046200', '5022046200', '5022006800', '5022006800', '5022046200']
['481092']
['5058010900']
['5032038400']
['5035061200']
['5052023000']
['5075030500', '5075030600']
['6908909900']
['830990']

In [1]:
import pandas as pd
df = pd.read_csv("../cleareddata1606.csv")

In [2]:
df

,Unnamed: 0,id,label,id2,g_id
0,0,304999800,прочее мясо рыбы включая фарш мороженые рыбный...,304999800,30499
1,1,604909900,растения засушенные обработанные антисептиком ...,604909900,60490
2,2,711400000,огурцы корнишоны консервированные для кратковр...,711400000,71140
3,3,712909000,овощи сущенные чеснок сушенный хлопья маркиров...,712909000,71290
4,4,803901000,бананы свежие зеленые сорта cavendish,803901000,80390
...,...,...,...,...,...
115093,180,8501523000,асинхронный двигатель переменного тока мощност...,8501523000,850152
115094,181,7308400009,стальная мелкощитовая опалубка в сборе и ее ча...,7308400009,730840
115095,182,7216619000,металлопрофиль фасонный из плоского проката хо...,7216619000,721661
115096,183,7306307209,трубы сварные круглого поперечного сечения ста...,7306307209,730630
115097,184,7216611000,угловые профили без дальнейшей обработки кроме...,7216611000,721661

In [3]:
dscr = pd.read_csv("desc.csv", sep=';', names=['id', 'label'])
dscr

        id                                              label
0     0101                  Лошади, ослы, мулы и лошаки живые
1     0102                         Крупный рогатый скот живой
2     0103                                       Свиньи живые
3     0104                                  Овцы и козы живые
4     0105  Домашняя птица живая, то есть куры домашние (G...
...    ...                                                ...
1226  9702          Подлинники гравюр, эстампов и литографий:
1227  9703  Подлинники скульптур и статуэток из любых мате...
1228  9704  Марки почтовые или марки госпошлин, знаки почт...
1229  9705  Коллекции и предметы коллекционирования по арх...
1230  9706               Антиквариат возрастом более 100 лет:

[1231 rows x 2 columns]

In [20]:
dscr['id'].str.len().unique

<bound method Series.unique of 0       4
1       4
2       4
3       4
4       4
       ..
1226    4
1227    4
1228    4
1229    4
1230    4
Name: id, Length: 1231, dtype: int64>

In [80]:
#df2 = pd.read_csv("../../nln1.csv", sep=';', dtype = {'1': str, '2': str})#, '3': str})
df = pd.read_csv("../../DL/prj/one.csv", names=['1'], sep = '-----')#sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})

C:\Users\yeril\AppData\Local\Temp\ipykernel_12528\3511921241.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("../../DL/prj/one.csv", names=['1'], sep = '-----')#sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})

In [83]:
df['id'] = df['1'].str.slice(start=0, stop=10)
df['label'] = df['1'].str.slice(start=11)
df

,1,id,label
0,"0304999800;ПРОЧЕЕ МЯСО РЫБЫ (ВКЛЮЧАЯ ФАРШ), МО...",0304999800,"ПРОЧЕЕ МЯСО РЫБЫ (ВКЛЮЧАЯ ФАРШ), МОРОЖЕНЫЕ: РЫ..."
1,"0604909900;РАСТЕНИЯ ЗАСУШЕННЫЕ, ОБРАБОТАННЫЕ А...",0604909900,"РАСТЕНИЯ ЗАСУШЕННЫЕ, ОБРАБОТАННЫЕ АНТИСЕПТИКОМ..."
2,0711400000;ОГУРЦЫ (КОРНИШОНЫ) КОНСЕРВИРОВАННЫЕ...,0711400000,ОГУРЦЫ (КОРНИШОНЫ) КОНСЕРВИРОВАННЫЕ ДЛЯ КРАТКО...
3,0712909000;ОВОЩИ СУЩЕННЫЕ: ЧЕСНОК СУШЕННЫЙ ХЛО...,0712909000,"ОВОЩИ СУЩЕННЫЕ: ЧЕСНОК СУШЕННЫЙ ХЛОПЬЯ, МАРКИР..."
4,"0803901000;БАНАНЫ СВЕЖИЕ, ЗЕЛЕНЫЕ, СОРТА ""CAVE...",0803901000,"БАНАНЫ СВЕЖИЕ, ЗЕЛЕНЫЕ, СОРТА ""CAVENDISH"", УПА..."
...,...,...,...
70643,9617000001;ТЕРМОСЫ И ВАКУУМНЫЕ СОСУДЫ ПРОЧИЕ В...,9617000001,ТЕРМОСЫ И ВАКУУМНЫЕ СОСУДЫ ПРОЧИЕ В СОБРАННОМ ...
70644,9617000001;ТЕРМОСЫ И ВАКУУМНЫЕ СОСУДЫ ПРОЧИЕ В...,9617000001,ТЕРМОСЫ И ВАКУУМНЫЕ СОСУДЫ ПРОЧИЕ В СОБРАННОМ ...
70645,9619008109;ДЕТСКИЕ ПОДГУЗНИКИ/ BABY DIASPERS,9619008109,ДЕТСКИЕ ПОДГУЗНИКИ/ BABY DIASPERS
70646,"9620000005;МОНООПОРЫ,ДВУНОГИ,ТРЕНОГИ И АНАЛОГИ...",9620000005,"МОНООПОРЫ,ДВУНОГИ,ТРЕНОГИ И АНАЛОГИЧНЫЕ ИЗДЕЛИ..."
70647,"9620000009;МОНООПОРЫ, ДВУНОГИ, ТРЕНОГИ И АНАЛО...",9620000009,"МОНООПОРЫ, ДВУНОГИ, ТРЕНОГИ И АНАЛОГИЧНЫЕ ИЗДЕ..."

In [98]:
#df['idnum'] = df['id'].astype(float)
df = df[df['id'].str.contains(';')==False]
df = df[df['id'].str.contains(' ')==False]
df = df[df['id'].str.contains('А')==False]

In [100]:
df[df['id'].str.contains('В')]

Empty DataFrame
Columns: [1, id, label]
Index: []

In [111]:
df['idnum'] = df['id'].astype(float)
df['idnum'] = df['idnum'].astype(int)

In [112]:
df['idnum'] = df['idnum'].astype(str)

In [129]:
df.drop(['1'], axis=1, inplace=True)

In [127]:
df[df['id'].str.match('\d{10}')==False]

Empty DataFrame
Columns: [1, id, label]
Index: []

In [133]:
df['label'] = df['label'].str.replace(';', ' ')

In [134]:
df[df['label'].str.contains(';')]

Empty DataFrame
Columns: [id, label]
Index: []

In [138]:
df.to_csv('../data/firstset.csv', sep=';', columns=['id', 'label'], index=False, header=False)
#грузить так!
#df = pd.read_csv("../data/firstset.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})

In [142]:
df2 = pd.read_csv("../data/nln1.csv", sep=';', dtype = {'1': str, '2': str})#, '3': str})

In [144]:
df2.to_csv('../data/nln1.csv', sep=';', columns=['1', '2'], index=False, header=False)
#df = pd.read_csv("../data/nln1.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})

In [155]:
df3 = pd.read_csv("../data/Codes10.csv", sep=',', dtype = {'1': int, '2': str, '3': str})#, '3': str})
df3.to_csv('../data/Codes10.csv', sep=';', columns=['2', '3'], index=False, header=False)

In [158]:
df4 = pd.read_csv("../data/Codes20.csv", sep=',', dtype = {'1': int, '2': str, '3': str})#, '3': str})
df4.to_csv('../data/Codes20.csv', sep=';', columns=['2', '3'], index=False, header=False)

In [2]:
#грузим все датасеты
#import pandas as pd

In [3]:
nln = pd.read_csv("../data/nln1.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})
nln

             id                                              label
0    8433400001  навесное оборудование от тракторов для сельско...
1    8432295000  навесное оборудование для сельскохозяйственных...
2    8708709909  зап  Части для тракторов  бывшие в употреблени...
3    8430690008  траншеекопатели цепные не самоходные управляем...
4    8477200000  оборудование для переработки полимерных матери...
..          ...                                                ...
180  8501523000  асинхронный двигатель переменного тока  мощнос...
181  7308400009  стальная мелкощитовая опалубка (в сборе) и ее ...
182  7216619000  металлопрофиль фасонный из плоского проката  х...
183  7306307209  трубы сварные  круглого поперечного сечения  с...
184  7216611000  угловые профили  без дальнейшей обработки кром...

[185 rows x 2 columns]

In [4]:
code1 = pd.read_csv("../data/Codes10.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})
code2 = pd.read_csv("../data/Codes20.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})
main = pd.read_csv("../data/firstset.csv", sep=';', names=['id', 'label'], dtype = {'id': str, 'label': str})

In [8]:
df = pd.concat([main, code1, code2, nln])
df

             id                                              label
0    0304999800  ПРОЧЕЕ МЯСО РЫБЫ (ВКЛЮЧАЯ ФАРШ), МОРОЖЕНЫЕ: РЫ...
1    0604909900  РАСТЕНИЯ ЗАСУШЕННЫЕ, ОБРАБОТАННЫЕ АНТИСЕПТИКОМ...
2    0711400000  ОГУРЦЫ (КОРНИШОНЫ) КОНСЕРВИРОВАННЫЕ ДЛЯ КРАТКО...
3    0712909000  ОВОЩИ СУЩЕННЫЕ: ЧЕСНОК СУШЕННЫЙ ХЛОПЬЯ, МАРКИР...
4    0803901000  БАНАНЫ СВЕЖИЕ, ЗЕЛЕНЫЕ, СОРТА "CAVENDISH", УПА...
..          ...                                                ...
180  8501523000  асинхронный двигатель переменного тока  мощнос...
181  7308400009  стальная мелкощитовая опалубка (в сборе) и ее ...
182  7216619000  металлопрофиль фасонный из плоского проката  х...
183  7306307209  трубы сварные  круглого поперечного сечения  с...
184  7216611000  угловые профили  без дальнейшей обработки кром...

[123619 rows x 2 columns]

In [9]:
df.to_csv('../data/mergeddraft.csv', sep=';', columns=['id', 'label'], index=False, header=False)

In [12]:
df[df['id']=='3923100000']

               id                                              label
859    3923100000  КОРОБКИ ДЛЯ ПИЛЬНЫХ ЦЕПЕЙ ИЗ ПОЛИМЕРНОГО МАТЕР...
860    3923100000  УПАКОВКА ПОЛИМЕРНАЯ ПРОМЫШЛЕННОГО И БЫТОВОГО П...
1898   3923100000  КОРОБКИ ДЛЯ ХРАНЕНИЯ ОБУВИ ИЗ ПЛАСТМАСС,ВСЕГО ...
1899   3923100000  УПАКОВКА ИЗ ПЛАСТИКА ОТКРЫТОГО ИЛИ ЗАКРЫТОГО Т...
2900   3923100000  ИЗДЕЛИЯ ДЛЯ УПАКОВКИ ТОВАРОВ ИЗ ПЛАСТМАСС: ПРО...
3447   3923100000  КОРОБКИ, ЯЩИКИ, КОРЗИНЫ И АНАЛОГИЧНЫЕ ИЗДЕЛИЯ ...
5212   3923100000  ИЗДЕЛИЯ ДЛЯ УПАКОВКИ ТОВАРОВ ИЗ ПЛАСТМАСС: КОР...
6840   3923100000  КОРОБКИ, ЯЩИКИ, КОРЗИНЫ И АНАЛОГИЧНЫЕ ИЗДЕЛИЯ ...
6861   3923100000  УПАКОВКА ПОЛИМЕРНАЯ ДЛЯ ПРОДУКЦИИ ПРОМЫШЛЕННОГ...
7560   3923100000  КОНТЕЙНЕРЫ (ТАБЛЕТНИЦЫ) ДЛЯ ПЕРЕНОСКИ (ТРАНСПО...
7651   3923100000  КОНТЕЙНЕР(ТАБЛЕТНИЦА) ИЗ ПЛАСТМАСС ДЛЯ ЛЕКАРСТ...
7652   3923100000  КОРОБКА (ЯЩИК) ИЗ ПЛАСТМАССЫ ДЛЯ ТРАНСПОРТИРОВ...
9628   3923100000                     КОРОБКА ДЛЯ БИСЕРА, 700 КОМПЛ.
9629   3923100000  КОРОБКА(ЯЩИК) ИЗ ПЛАСТМАССЫ ДЛЯ УПАКОВКИ ИЛИ Т...
9630   3923100000  УПАКОВКА ПОЛИМЕРНАЯ ДЛЯ ПРОДУКЦИИ ПРОМЫШЛЕННОГ...
10279  3923100000  КОНТЕЙНЕР(ТАБЛЕТНИЦА) ИЗ ПЛАСТМАСС ДЛЯ ЛЕКАРСТ...
10280  3923100000  КОРОБКИ, ЯЩИКИ, КОРЗИНЫ И АНАЛОГИЧНЫЕ ИЗДЕЛИЯ ...
10281  3923100000  КОРОБКИ, ЯЩИКИ, КОРЗИНЫ И АНАЛОГИЧНЫЕ ИЗДЕЛИЯ ...

In [120]:
min(df['id'].str.len())

10

In [73]:
df = df[df["id"].str.len()>6 ]

In [77]:
df[df['id'].str.len()==9]

             id                                              label
0     304999800  ПРОЧЕЕ МЯСО РЫБЫ (ВКЛЮЧАЯ ФАРШ), МОРОЖЕНЫЕ, РЫ...
1     604909900  РАСТЕНИЯ ЗАСУШЕННЫЕ, ОБРАБОТАННЫЕ АНТИСЕПТИКОМ...
2     711400000  ОГУРЦЫ (КОРНИШОНЫ) КОНСЕРВИРОВАННЫЕ ДЛЯ КРАТКО...
3     712909000  ОВОЩИ СУЩЕННЫЕ, ЧЕСНОК СУШЕННЫЙ ХЛОПЬЯ, МАРКИР...
4     803901000  БАНАНЫ СВЕЖИЕ, ЗЕЛЕНЫЕ, СОРТА "CAVENDISH", УПА...
...         ...                                                ...
3709  808309000  ГРУШИ СВЕЖИЕ, НЕ ДЛЯ ПРОИЗВОДСТВА ПЕРРИ ИЛИ ГР...
3710  808309000  ПРОБЫ И ОБРАЗЦЫ ДЛЯ ПРОВЕДЕНИЯ РАБОТ ПО ОЦЕНКЕ...
3711  808309000  ПРОБЫ И ОБРАЗЦЫ ДЛЯ ПРОВЕДЕНИЯ РАБОТ ПО ОЦЕНКЕ...
3712  813406500  СУШЕНЫЕ ТРОПИЧЕСКИЕ ФРУКТЫ, УПОТРЕБЛЯЕМЫЕ В ПИ...
3713  902100001  ЧАЙ ЗЕЛЕНЫЙ (НЕФЕРМЕНТИРОВАННЫЙ), В ПЕРВИЧНЫХ ...

[457 rows x 2 columns]